body {
  margin: 0px;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW3ooRoDfwMn6SGMPFNxy1FlW5zb6OwKk-8G9l0kIFk9HlpbP0gbnkhMX4:https://static.vecteezy.com/system/resources/previews/024/592/845/non_2x/cartoon-spaceship-lab-interior-design-free-vector.jpg&s=10);
  background-size: cover
}

img {
  display: none;
}
